<% notes.forEach(function(note, index) { %>
<div class="notes-Container">
    <div class="note-Container">
        <p> <%= note %> </p> 
    </div>
    <div class="button-Container">
        <form action="editNotePage">
            <button type="submit" class="edit">Edit</button>
        </form>
        <form action="deleteNote">
            <button type="submit" class="delete">Delete</button>
        </form>
    </div>
</div>
<% }) %>

