  <!-- this is my _note.ejs -->
<div class="notes-Container">
    <div class="note-Container">
        <p><%= note %></p> 
    </div>
    <div class="button-Container">
        <form action="/deleteNote?index=<%= index %>" method="post">
            <button type="submit" class="delete">Delete</button>
        </form>
    </div>
</div>
