
<!DOCTYPE html>
<html>
<head>
    <title>Edit old Note</title>
    <link rel="stylesheet" href="css/NewNote.css">
</head>
<body>
    <header>
        <div class="leftHeader">
            <h1>Edit Note</h1>
        </div>
        <div class="rightHeader">
            <form action="backToHome"><button type="submit">Home</button></form>
        </div>
    </header>
    <form action="/editNote" method="post">
        <textarea id="note" name="note" required><%= oldNote %></textarea>
        <button type="submit">Edit Note</button>
    </form>
    
</body>
</html>
