  <!-- this is my index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    <header>
        <div class="leftHeader">
            <h1>Notes</h1>
            <h3>Type, edit and delete notes</h3>
        </div>
        <div class="rightHeader">
                <form action="newNotePage">
                    <div class="rightHeader">
                        <button type="submit">Add note</button>
                    </div>
                </form>
        </div>
        
    </header>

    <% if (notes && notes.length > 0) { %>
        <% notes.forEach(function(note, index) { %>
            <%- include('partials/_note', { note: note, index: index }) %>
        <% }); %>
    <% } else { %>
        <p>No notes yet!</p>
    <% } %>
    
    
    <footer>
        <h2>This would be my footer</h2>
    </footer>
</body>
</html>