<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    <header>
        <div class="leftHeader">
            <h1>Notes</h1>
            <h3>Type, edit and delete notes</h3>
        </div>
        <div class="rightHeader">
            <button type="submit">Add note</button>
        </div>
    </header>

    <div class="notes-Container">
        <div class="note-Container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet rutrum maximus. Sed volutpat lobortis volutpat. Nunc lobortis efficitur blandit. Sed efficitur aliquam commodo. Ut lacinia orci nisl, id efficitur nunc sagittis sit amet. Nullam volutpat mattis rhoncus. Vivamus tincidunt pretium magna vitae varius.</p>
        </div>
        <div class="button-Container">
            <button type="submit" class="edit">Edit</button>
            <button type="submit" class="delete">Delete</button>
        </div>
    </div>

    <footer>
        <h2>This would be my footer</h2>
    </footer>
</body>
</html>