<!DOCTYPE html>
<html>
<head>
    <title>Add New Note</title>
</head>
<body>
    <h1>Add a New Note below:</h1>
    <form action="/CreateNote" method="post">
        <label for="note">Note:</label>
        <textarea id="note" name="note" required></textarea>
        <button type="submit">Submit Note</button>
    </form>
    
</body>
</html>
